.DS_Store
*__pycache__*
*ipynb*
*indev*
runtime/*
*.zip
*.sqlite3*
tmp_*


# ignore models
fashion_retrieval/caption_models/infos_best.pkl
fashion_retrieval/caption_models/model_best.pth
fashion_retrieval/features/256embedding.p
fashion_retrieval/features/att_feature.npz
fashion_retrieval/features/fc_feature.npz

# ignore pytorch ckpt
*.pt
